@include mobile {
    #jumbotron {
        height: auto !important;

        .col-border:not(:last-child) {
            border-right: none !important;
        }
    }

    #chart-wrapper {
        height: auto !important;
    }
}

.user-thumb-old {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
}

.user-thumb {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
}

.alert-item-old {
    display: flex;
    width: 33.33333%;
    justify-content: center;
    align-items: center;
    color: var(--#{$prefix}body-color);
    font-size: 0.875em;
}

.alert-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--#{$prefix}body-color);
}

.col-border:not(:last-child) {
    border-right: var(--#{$prefix}card-border-width) solid
        var(--#{$prefix}card-border-color);
}

#chart-wrapper {
    height: 15rem;
}

#rpa-preview {
    flex: 0 0 300px;
    min-height: 100%;

    .card-body {
        overflow-y: scroll;
    }
}
