script(src="/static/lib/jquery.slim.min.js")
script(src="/static/lib/lottie-player.js")

//- Gantt
script(src="/static/lib/gantt.js")

//- datepicker
script(src="/static/lib/datepicker/datepicker-full.min.js")
script(src="/static/lib/datepicker/ko.js")

//- Choices.js
script(src="/static/lib/choices/choices.min.js")

//- chart.js
script(src="/static/lib/chartjs/chart.min.js")
script(src="/static/lib/chartjs/chartjs-plugin-datalabels.js")

//- ckeditor 5
script(src="/static/lib/ckeditor/ckeditor.js")
script(src="/static/lib/ckeditor/ko.js")
