.dropup
    span#manual.bg-kyobo-blue.text-white.dropdown-toggle(
        data-bs-toggle="dropdown",
        aria-expanded="false"
    )
        i.bi.bi-journals.fs-3
    ul.dropdown-menu
        li(data-bs-toggle="modal", data-bs-target="#pdfModal")
            h6.dropdown-header.fw-bold QUICK MENU
        li(data-bs-toggle="modal", data-bs-target="#pdfModal")
            a.dropdown-item(href="#")
                span 한눈에 보는 RPA
        li(data-bs-toggle="modal", data-bs-target="#pdfModal")
            a.dropdown-item(href="#")
                span RPA 팁
        li(data-bs-toggle="modal", data-bs-target="#pdfModal")
            a.dropdown-item(href="#")
                span RPA 용어집
        li(data-bs-toggle="modal", data-bs-target="#pdfModal")
            a.dropdown-item(href="#")
                span RPA 매뉴얼
        li
            hr.dropdown-divider
        li
            h6.dropdown-header.fw-bold 교육
        li
            a.dropdown-item(href="#")
                span RPA 교육 참여
