meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(content="yes", name="apple-mobile-web-app-capable")
meta(
    content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no",
    name="viewport"
)
meta(name="format-detection", content="telephone=no")

link(rel="stylesheet", href="/static/css/kyobo.css")

//- Datepicker
link(rel="stylesheet", href="/static/css/datepicker/datepicker-bs5.min.css")

//- Choices.js
link(rel="stylesheet", href="/static/css/choices/choices.min.css")
