.response-row-list {
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: column;

    .response-row .form-label {
        display: none;
    }

    .response-row {
        position: relative;

        button {
            visibility: hidden;
            position: absolute;
            margin-left: 0;
            opacity: 0;
            transition: all 0.1s;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            // @include media-breakpoint-up(lg) {
            //     top: 50%;
            //     right: 0;
            //     transform: translateY(-50%);
            // }

            // @include media-breakpoint-down(lg) {
            //     visibility: visible;
            //     opacity: 1;
            //     top: 0;
            //     right: 0;
            //     margin: $spacer !important;
            // }
        }

        // @include media-breakpoint-down(lg) {
        //     border: 1px solid $border-color;

        //     .form-label {
        //         display: block !important;
        //     }
        // }

        .input-response {
            padding-right: $spacer * 2 !important;
        }

        [class*="col"]:last-child {
            padding-right: $spacer * 0.5 !important;
        }
    }

    .response-row.focus {
        > button {
            visibility: visible;
            margin-right: $spacer * 0.5;
            opacity: 1;
        }
    }
}

.response-row-list.single {
    button {
        display: none;
    }
}
